
# Admin
* @walkerobrien


# Documentation
*.md          @walkerobrien


# Shell scripting
/bin
*.sh          @walkerobrien


# CICD and Kubernetes configs
/deploy       @walkerobrien
*.yaml        @walkerobrien
**/Dockerfile @walkerobrien


# API src code
*.py @walkerobrien
*.go @walkerobrien

/src/api @walkerobrien


# Frontend src code
*.scss @meredithkeesling @walkerobrien
*.ts   @meredithkeesling @walkerobrien
*.js   @meredithkeesling @walkerobrien

/src/react @walkerobrien @meredithkeesling




