
# Admin
* @walkerobrien


# Documentation
*.md          @walkerobrien


# Shell scripting
/bin
*.sh          @walkerobrien


# CICD and Kubernetes configs
*.yaml        @walkerobrien
**/Dockerfile @walkerobrien


# API src code
*.py @walkerobrien
*.go @walkerobrien

/src/api @walkerobrien


# Frontend src code
*.scss @walkerobrien
*.ts   @walkerobrien
*.js   @walkerobrien

/src/react @walkerobrien
/src/api   @walkerobrien


