@import '../../style/abstracts/_abstracts-dir';

.lg-home {
  padding: 16px;

  .lg-home--actions {
    margin-top: 63px;
    background-color: #D3D8DC;
    z-index: 1099;
    box-shadow: none;

    .lg-home--toolbar {
      display: flex;
      flex-direction: row-reverse;
      height: 72px;
    }
  }

  .lg-home--posts {
    margin-top: 64px;
  }
}
